<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ss090310.etf.ac.bg.rs.memorija_diplomski">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SinglePlayerActivity" />
        <activity android:name=".activities.MultiPlayerLobbyActivity" />
        <activity android:name=".activities.EndGameActivity" />
        <activity android:name=".activities.SelectMultiplayerActivity" />
        <activity android:name=".activities.MultiPlayerActivity" />
        <activity android:name=".activities.MultiplayerResultsActivity"></activity>
    </application>

</manifest>